

body {
  margin: 0;
  background-color: #1d3557;
  text-emphasis-color: #E5E5D4;
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}


h1,
h2,
h3 {
  font-weight: 500;
  color: #E5E5D4;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}





/* Flex wrapper to keep the grid in the middle */
.center-wrapper {
  background-color: #E5E5D4;
  padding: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%; /* Takes up middle area */
    max-width: 1000px; /* Prevents it from getting too wide */
}



.grid-container {
    display: grid;
    /* Create 5 equal columns */
    grid-template-columns: repeat(5, 1fr);
    /* Create 6 rows, setting height to auto or px */
    grid-template-rows: repeat(6, auto);
  
  
}

.grid-item {
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 5px;
}


.button {
  background-color: #582409; /* Green background */
  border: none; /* Remove default border */
  color: white; /* White text */
  padding: 15px 32px; /* Some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Allows padding and margin */
  font-size: 16px; /* Increase font size */
  margin: 4px 2px; /* Adds some margin */
  cursor: pointer; /* Change cursor on hover */
  border-radius: 8px; /* Rounded corners */
}

/* Add hover effect for better user experience */
.button:hover {
  background-color: #8254be; /* Darker green on hover */
}